.view-mode-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.view-mode-controls button.selected {
  background: var(--selected-button-color);
  color: white;
  cursor: default;
}