#root {
    text-align: center;
    height: 100dvh;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content-container {
    /* needs alternate behavior for small screens */
    padding: 2rem;
}
