.overview-tools {
  background: #777;
  position: absolute;
  right: 0;
  padding: 10px;
}

.overview-tools button.selected {
  background: var(--selected-button-color);
  color: white;
  cursor: default;
}